@model Developee.BA

@{
    ViewBag.Title = "BAProfile";
}

<h2>BA Profile</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index", "Home")
</p>
